* {
    margin: 0;padding: 0;text-decoration: none;box-sizing: border-box;list-style: none;
  }  

#root {
  --bg-menu: #2b2a2b;
  --text-color: #fff;
}

header {
    background: var(--bg-menu);
    display: flex;
    height: 10vh;
    padding: 0 200px 0 200px;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 80px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 45px;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 15px;
}